body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;
    font-family:Georgia, 'Times New Roman', Times, serif;
}

    .card {
        width: 300px;
        overflow: hidden;
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
        background-color: white;
        border-width: 2px;
        border-style: solid;
        border-color: rgba(156, 156, 156, 0.534);
    }
    
    .card-header {
        background-color: #5DADE2;
        width: 280px;
        height: 70px;
        color: white;
        text-align: center;
        font-weight: bold;
        padding: 15px;
        align-content:end;
    }
    
    .card-body {
        height: 150px;
        padding: 20px;
        text-align: left;
        margin: 0;
    }
    
    h3 {
        margin: 0 0 10px;
        font-size: 18px;

    }
    
    p {
        font-size: 13px;
        color: #555;
        margin: 0;
    }