body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}
.header {
    background: #f8e1c0;
    text-align: center;
    padding: 20px;
}
.menu {
    background: #2f5858;
    text-align: center;
    padding: 15px;
    color: white;
}
.main {
    display: flex;
    height: 400px;
}
.sidebar {
    width: 25%;
    background: purple;
    padding: 20px;
    color: white;
}
.content {
    width: 75%;
    display: flex;
    flex-direction: column;
}
.slider {
    background: #e88d8d;
    padding: 50px;
    text-align: center;
    flex: 1;
}
.products {
    display: flex;
    flex: 1;
}
.product {
    width: 50%;
    background: #4682A9;
    padding: 50px;
    text-align: center;
    color: white;
}
.footer {
    display: flex;
    background: #f8e1c0;
    text-align: center;
}
.footer div {
    flex: 1;
    padding: 15px;
    border: 1px solid black;
}