body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
    font-family: Arial, sans-serif;
}

.header, .footer {
    background-color: gray;
    color: white;
    padding: 20px;
    margin-bottom:5px;
}

.container {
    display: flex;
    justify-content: space-between;
}

.sidebar, .aside {
    background-color: orange;
    color: white;
    padding: 20px;
    width: 20%;
}

.content {
    background-color: pink;
    color: white;
    padding: 20px;
    width: 60%;
}

.footer {
    background-color: gray;
    color: white;
    padding: 20px;
    margin-top: 5px;
}
