body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f8f8f8;
}

.container {
    width: 900px;
    margin: 0 auto;
    background: white;
}

.header {
    overflow: hidden;
}

.logo {
    width: 30%;
    float: left;
    background: cyan;
    padding: 20px;
    box-sizing: border-box;
}

.banner {
    width: 70%;
    float: left;
    background: cyan;
    padding: 20px;
    box-sizing: border-box;
}

.bread-crumb {
    background: blue;
    color: white;
    padding: 15px;
    clear: both;
}

.main {
    overflow: hidden;
}

.left {
    width: 20%;
    float: left;
    background: #fce5cd;
    padding: 50px 0;
    box-sizing: border-box;
}

.content {
    width: 60%;
    float: left;
    background: #eef2f3;
    padding: 50px 0;
    box-sizing: border-box;
}

.right {
    width: 20%;
    float: left;
    background: #fce5cd;
    padding: 50px 0;
    box-sizing: border-box;
}

.footer {
    background: darkred;
    color: white;
    padding: 20px;
    clear: both;
}
